html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.sortable-helper {
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}