html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.sortable-helper {
  z-index: 1000;
  cursor: grab;
}

.chrome-picker {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1),
              0px 4px 8px rgba(0, 0, 0, 0.1) !important;
}
